body{
   
    background-image:url(RE/baninfo.jpg);
    background-size: cover;
    background-attachment: fixed;
    }
h1
{
    text-align: center;
    font-family: Georgia;
    color: rgb(224, 21, 116);
}

h2
{
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
  font-family: Georgia;
  color: rgb(224, 21, 116);
}
h3
{
  text-align: center;
  font-family: Georgia;
  color: rgb(224, 21, 116);
  font-weight: bolder;
}
h2
{
  text-align: center;
  font-family: Georgia;
  color: rgb(224, 21, 116);
  font-weight: bolder;
}

h3
{
  text-align: center;
  font-family: Georgia;
  color: rgb(224, 21, 116);
  font-weight: bolder;

}
#divbutton {

  text-align: center;
 }
 
 .button
 { 
 
 border: px solid rgb(0, 0, 0);
 border-radius: 2em;
 line-height: 2.5;
 padding: 10px 40px;
 font-size: 1rem;
 text-align:center;
 color: white;
 text-shadow: 1px 1px 1px #000;
 border-radius: 10px;
 background-color: #000000;
 background-image: linear-gradient(to top left,
                                  rgba(0, 0, 0, .2),
                                  rgba(0, 0, 0, .2) 30%,
                                  rgba(0, 0, 0, 0));
 box-shadow: inset 2px 2px 3px white,
            inset -2px -2px 3px rgba(0, 0, 0, .6);
 }

 #button
 { 
 
 border: px solid rgb(0, 0, 0);
 border-radius: 2em;
 line-height: 2.5;
 padding: 10px 40px;
 font-size: 1rem;
 text-align:center;
 color: white;
 text-shadow: 1px 1px 1px #000;
 border-radius: 10px;
 background-color: #000000;
 background-image: linear-gradient(to top left,
                                  rgba(0, 0, 0, .2),
                                  rgba(0, 0, 0, .2) 30%,
                                  rgba(0, 0, 0, 0));
 box-shadow: inset 2px 2px 3px white,
            inset -2px -2px 3px rgba(0, 0, 0, .6);
 }
.button:hover

{
background-color: #eeeaea;
}


a:link {
text-decoration: none;
}

    #MOI
    {
       
        text-align: center;
      
        border-radius: 50px;
    }
    #adresse
    {
        text-align: center;
        font-family: 'Times New Roman';
        font-size: 20px;

    }

    form {
        /* Center the form on the page */
        margin: 0 auto;
        width: 400px;
        /* Form outline */
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
        background-color: #e21f91;
      }
      
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      form li + li {
        margin-top: 1em;
      }
      
      label {
        /* Uniform size & alignment */
        display: inline-block;
        width: 90px;
        text-align: right;
      }
      
      input,
      textarea {
        /* To make sure that all text fields have the same font settings
           By default, textareas have a monospace font */
        font: 1em sans-serif;
      
        /* Uniform text field size */
        width: 300px;
        box-sizing: border-box;
      
        /* Match form field borders */
        border: 1px solid #999;
      }
      
      input:focus,
      textarea:focus {
        /* Additional highlight for focused elements */
        border-color: #000;
      }
      
      textarea {
        /* Align multiline text fields with their labels */
        vertical-align: top;
      
        /* Provide space to type some text */
        height: 5em;
      }
      
      .button {
        /* Align buttons with the text fields */
        padding-left: 90px; /* same size as the label elements */
      }
      
      #button {
        /* This extra margin represent roughly the same space as the space
           between the labels and their text fields */
        margin-left: 1000px;
        margin-top: 20px;

      }
      .styled {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
    
        color: rgb(0, 0, 0);
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        background-image: linear-gradient(to top left,
                                          rgba(0, 0, 0, .2),
                                          rgba(0, 0, 0, .2) 30%,
                                          rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
                    inset -2px -2px 3px rgba(0, 0, 0, .6);
    }
    
    .styled:hover {
        background-color: rgb(255, 250, 250);
    }
    
    .styled:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                    inset 2px 2px 3px rgba(0, 0, 0, .6);
    }
   
  
    #compétences
    {
        
        text-align: center;  
    }
    #compétences2
    {
        
        text-align: center;  
    }
    #compétences3
    {
       
        text-align: center;  
    }
    #compétences4
    {
       
        text-align: center;  
    }
    #barre
    {
      text-align: center;
      
    }
    #barrecomp
    {
    margin-top: 50px;
    text-align: center;
    border: 20px solid #05057a;
    border-radius: 50px;
    }
    #infor
   {
    text-decoration: none;
    text-align: center;  
   }
  h1{
    text-decoration: none;
  }
  h2
  {
   text-decoration: none;
  
  }
   #remise
   {
    
    text-align: center;  
   } 
  
   #bafa
   {
   
    text-align: center;  
   }

  
   #lycée
   {
   
    text-align: center;   
   }
   
   
   #phrasecomp
   {
     padding-bottom: 40px;
    margin-top: 40px;
    border-radius: 30px;
     background-color: #e21f91;
     background-attachment: fixed;
    background-size: cover;
    font-size: 40px;
    text-align: center;
    font-family: Georgia;
    color: #000000;
   }
 
  #cadenagif
  {
    text-align: center;
    margin-top: 50px ;
  } 

